<div class="registration-container">
  <header>
  <%= link_to root_path do %>
    <%= image_tag '', alt: 'Flecha' %> Back
  <% end %>
    <h2>REGISTER</h2>
    <a href="#">Next</a>
  </header>

  <div class="user-avatar">
    <%= image_tag "" %>
    <p>Upload picture</p>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.text_field :name, placeholder: "Full name", autofocus: true %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    <%= f.submit "Sign up" %>
  <% end %>
</div>
