<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<div class="login-container">
<header>
<%= link_to group_operations_path(@group) do %>
  <%= fa_icon "arrow-left" %> 
<% end %>
<h1>Add a New Transaction</h1>
</header>

<%= form_for([@group, @operation]) do |f| %>

  <div class="form-group">
    <%= f.label :name, "Transaction Name" %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :amount, "Amount" %>
    <%= f.number_field :amount, required: true, step: "0.01", class: 'form-control' %>
  </div>

  <%= f.submit "Save", class: 'btn btn-primary' %>

<% end %>

</div>

