<div class="new-transactio-container">
<header>
<%= link_to group_operations_path(@group) do %>
  <%= fa_icon "arrow-left" %> 
<% end %>
<h2>Add a New Transaction</h2>
</header>

<%= form_for([@group, @operation]) do |f| %>

  <div class="form-group">
    <%= f.text_field :name, placeholder: "Transaction Name", required: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :amount, "Amount" %>
    <%= f.number_field :amount, required: true, step: "0.01", class: 'form-control' %>
  </div>

  <button type="submit" class="add-category link-new-category">SAVE</button>

<% end %>

</div>

